      body {
        background-color: #eee;
        width: 40%;
        margin: auto;
      }
      form {
        padding: 8px;
        /* border: 1px solid red; */
        background-color: #fef;
      }
      header {
        font-family:  'Segoe UI', Tahoma, Verdana, sans-serif;
      }
